# By default, skip anything that might be big
*.fits
*.fit
*.zip
*.tar.gz
*.tgz
*.fits.gz
*.fits.fz
*.tar
*.tif
!data/LP-Ori-HST/lp-ori-f*.fits
/data/Carina/full_jpg.jpg
*.crush
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/.ipynb_checkpoints/Kobulnicky-samples-checkpoint.ipynb
/.ipynb_checkpoints/Orion with Virtual Observatory-checkpoint.ipynb
data/Sigma-Ori/ING/4734
/__pycache__/wcs_plot_utils.cpython-37.pyc
